.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem 1rem 1rem 1rem;

}

.wrapper{
  background: #ffffff;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  border: 1px black;
  margin: 50px 60px;
  width: 500px;
  height: 300px;
}


.item_rating i {
  align-items: center;
  font-size: 18px;
  color: rgb(255, 174, 0);
  padding-right: 0.3rem;
}

